
.ipynb_checkpoints/zplots_examples-checkpoint.ipynb
__pycache__/__init__.cpython-312.pyc
__pycache__/subdiv.cpython-312.pyc
__pycache__/subdiv.cpython-38.pyc
__pycache__/voronoi.cpython-312.pyc
__pycache__/voronoi.cpython-38.pyc
__pycache__/zcolours.cpython-312.pyc
__pycache__/zcolours.cpython-38.pyc
__pycache__/zplots.cpython-312.pyc
__pycache__/zplots.cpython-38.pyc
__pycache__/zsubdiv.cpython-38.pyc
__pycache__/zvoronoi.cpython-38.pyc
